<div class="grid surface-ground full-height">
  <div class="col-6">
    <p-button (click)="stop()" [outlined]="true" [severity]="'help'" label="Stop"/>
  </div>
  <div class="col-6">
    <p-button (click)="pause()" [outlined]="true" [severity]="'help'" label="Pause"/>
  </div>
  <div class="col-6">
    <p-button (click)="charge()" [outlined]="true" [severity]="'help'" label="Charge"/>
  </div>
  <div class="col-6">
    <p-button (click)="service()" [outlined]="true" [severity]="'help'" label="Service"/>
  </div>

  <div class="col-12 mt-1"></div>

  <ng-container *ngFor="let room of rooms()">
    <div *ngIf="room.name !== 'Beccy'" class="col-6">
      <p-button (click)="clean(room)" [outlined]="true" [severity]="'primary'" label="{{room.name}}"/>
    </div>
  </ng-container>

  <div class="col-12 mt-1"></div>
  <div class="col-12">
    <a routerLink="/vacuum-plans" style="text-decoration: none;">
      <p-button label="Vacuum Plans Setup" styleClass="p-button-secondary p-button-outlined" icon="pi pi-cog"></p-button>
    </a>
  </div>

</div>

<router-outlet />
