<div class="grid surface-ground full-height">
  <div class="col-6">
    <p-button (click)="stop()" [outlined]="true" [severity]="'help'" label="Stop"/>
  </div>
  <div class="col-6">
    <p-button (click)="pause()" [outlined]="true" [severity]="'help'" label="Pause"/>
  </div>
  <div class="col-6">
    <p-button (click)="charge()" [outlined]="true" [severity]="'help'" label="Charge"/>
  </div>
  <div class="col-6">
    <p-button (click)="service()" [outlined]="true" [severity]="'help'" label="Service"/>
  </div>

  <div class="col-12 mt-1"></div>

  <ng-container *ngFor="let room of rooms()">
    <div *ngIf="room.name !== 'Beccy'" class="col-6">
      <p-button (click)="select(room)" [outlined]="true"
                [severity]="selectedRoomStore.isSelected(room.segment_id) ? 'info' : 'primary'" label="{{room.name}}"/>
    </div>
  </ng-container>

  <div class="col-12">
    <p-button (click)="clean()" [disabled]="!selectedRoomStore.hasSelection()" [outlined]="true" [severity]="'warn'"
              label="Start"/>
  </div>
</div>

<!--<router-outlet />-->
