<div class="grid surface-ground full-height">
  <div class="col-6">
    <p-button (click)="stop()"
              (keydown.enter)="stop()"
              (keydown.space)="stop()"
              [outlined]="true" [severity]="'help'" label="Stop"/>
  </div>
  <div class="col-6">
    <p-button (click)="pause()"
              (keydown.enter)="pause()"
              (keydown.space)="pause()"
              [outlined]="true" [severity]="'help'" label="Pause"/>
  </div>
  <div class="col-6">
    <p-button (click)="charge()"
              (keydown.enter)="charge()"
              (keydown.space)="charge()"
              [outlined]="true" [severity]="'help'" label="Charge"/>
  </div>
  <div class="col-6">
    <p-button (click)="service()"
              (keydown.enter)="service()"
              (keydown.space)="service()"
              [outlined]="true" [severity]="'help'" label="Service"/>
  </div>

  <div class="col-12 mt-1"></div>

  <div class="col-6 mt-2">
    <app-repetitions-selector></app-repetitions-selector>
  </div>
  <div class="col-6 mt-2">
    <app-preset-selector></app-preset-selector>
  </div>

  <div class="col-12 mt-1"></div>


  @for (room of rooms(); track room) {
    @if (room.name !== 'Beccy') {
      <div class="col-6">
        <p-button (click)="select(room)"
                  (keydown.enter)="select(room)"
                  (keydown.space)="select(room)"
                  [outlined]="true"
                  [severity]="selectedRoomStore.isSelected(room.segment_id) ? 'info' : 'secondary'"
                  label="{{room.name}}"/>
      </div>
    }
  }

  <div class="col-12">
    <p-button (click)="clean()"
              (keydown.enter)="clean()"
              (keydown.space)="clean()"
              [disabled]="!selectedRoomStore.hasSelection()" [outlined]="true" [severity]="'warn'"
              label="Start"/>
  </div>
</div>
