<p-dialog
  [(visible)]="visible"
  [closable]="false"
  [dismissableMask]="true"
  [modal]="true"
  [position]="'top'"
  [style]="{ width: '300px' }"
>
  <div class="grid">
    <div *ngFor="let rep of [1, 2, 3]" class="col-12">
      <p-button
        (click)="select(rep)"
        [label]="rep + 'x'"
        [outlined]="true"
        [severity]="repeatStore.numberOfRepetition() === rep ? 'info' : 'secondary'"
      ></p-button>
    </div>

  </div>
</p-dialog>

<p-button
  (click)="open()"
  [label]="repeatStore.numberOfRepetition() + 'x'"
  [outlined]="true"
  [severity]="'primary'"
></p-button>
